body{
    font-family: 'Mali', cursive;
    margin:0;
}


header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

#logo a{
    padding: 8px;
    font-family: "Oleo Script", sans-serif;
    color: orange;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}

header ul{
    list-style: none;
    margin:10;
    padding: 0;
    display: flex;
}

li a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}



